@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    themes: bumblebee --default, business --prefersdark;
}

@layer utilities {
    .font-text, .font-display { font-family: 'Habibi', sans-serif; }
    .font-display-alt { font-family: 'Caveat', cursive; }
}

@layer base {
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Caveat', cursive;
    }
}