@import "tailwindcss";
@plugin "daisyui" {
    themes: silk --default, luxury --prefersdark;
}

@layer utilities {
    .font-text, .font-display { font-family: 'Habibi', sans-serif; }
    .font-display-alt { font-family: 'Cedarville Cursive', cursive; }
}
