@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    themes: bumblebee --default, business --prefersdark;
}

@layer utilities {
    .font-text, .font-display { font-family: 'Quicksand', sans-serif; }
    .font-display-alt { font-family: 'Vollkorn', serif; }
}

@layer base {
    @view-transition {
        navigation: auto;
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Vollkorn', serif;
    }
}

@layer overrides {
    script {
        display: none;
    }
}