---
import Layout from '../layouts/Layout.astro';
import { getCollection } from "astro:content";

const recipes = await getCollection("recipes");

const guessTitle = (body: string | undefined) => body?.split("\n")[0].replace("#", "").trim()
---
<Layout>
    <ul>
        { recipes.map(recipe => (
            <li><a href={ `/recipes/${recipe.id}` }>{ recipe.data.title || guessTitle(recipe.body) }</a></li>
        )) }
    </ul>
</Layout>
