---
import Layout from '../../layouts/Layout.astro';
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const techniques = await getCollection("techniques");
    return techniques.map(tech => ({
        params: { id: tech.id },
        props: { tech }
    }))
}

const { tech } = Astro.props;
const { Content } = await render(tech);
---
<Layout>
    <div class="prose dark:prose-invert mt-10 m-auto" data-pagefind-body>
        <Content />
    </div>
</Layout>
