---
import "../styles/global.css";
import Navigation from  "../components/Navigation.astro"
---

<!doctype html>
<html lang="en" data-theme="silk">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">                                                                
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Habibi&display=swap" rel="stylesheet">
		<title>Gastronomy</title>
	</head>
	<body class="font-text">
		<Navigation></Navigation>
		<slot />

	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
